name: Build and deploy the documentation and JupyterLite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install OpenBLAS
        run: sudo apt install libopenblas-dev

      - name: Clean before build
        run: git clean -xdfq

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -r requirements/build_requirements.txt
          uv sync --group docs

      # - name: Build the JupyterLite site
      #   run: uv run jupyter lite build --contents examples --output-dir jupyter

      - name: Build the documentation with Sphinx
        run: uv run make html -C docs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/build

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
